{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
<style>
  h1{ font-size:60px;}
</style>
    <h1  style="text-align:center;color:#F5DEB3;">Promise of donnate nourriture</h1><br>

    {{ include('nourriture/_form.html.twig') }}

{% endblock %}
