<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/axentix@0.5.3/dist/css/axentix.min.css">
        {% block scripts %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

	<script type="text/javascript">
		$('select').formSelect();
	</script>
        {% endblock %}
        {% block stylesheets %}            
         <link href="{{ asset('css/bootstrap.min.css') }}" type="text/css" rel="stylesheet">
        {% endblock %}
        <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
         <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    </head>
    {% include('header.html.twig') %}
        <body>
        {% block body %}
        {% endblock %}
        <script src="https://cdn.jsdelivr.net/npm/axentix@0.5.3/dist/js/axentix.min.js"></script>
      {% block javascripts %}
               <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
      {% endblock %}
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
       <script src="{{ asset('js/script.js') }}"></script>
    </body>
        {% include('footer.html.twig') %}

</html>
