{% extends 'base.html.twig' %}

{% block title %}electromenagers{% endblock %}

{% block body %}
<style>
  h1{ font-size:60px;}
</style>
    &nbsp;<h1  style="color:white;text-align:center;color:#B0C4DE;">Promise of donnate home appliance</h1><br>
<hr>
    {{ include('electromenagers/_form.html.twig') }}

{% endblock %}
